#login-page-main {
  background: url('../images/top.jpg') 0 0 no-repeat #7f9cc8;
  background-size: contain;
  background-position: right bottom;
  min-height: 450px;
  color: #FFF;
  } #login-page-main p {
    font-size: 1em;
}

#login-form,
#signup-form,
#login-page-main
{
  padding: 40px;
}

#login-form .mdl-textfield,
#signup-form .mdl-textfield
{
  width: 100%;
}

.add-button {
  font-size: 5em;
  padding: 75px;
  font-weight: 100;
}

.description-header {
  margin-left: 15px;
  color: #777;
}

#global-header a {
  color: #FFF;
  text-decoration: none;
}

.member-list-icon {
  margin: 0 10px 0 0 ;
}

#member-history .mdl-card__title-text {
  font-size: 1em;
}

#member-history p {
  margin: 25px 0 5px 0;
  text-align: right;
}

#member-history  .member-name {
  color: #fff;
  background: url('../images/face.svg') no-repeat #03a9f4;
  background-size: contain;
  background-position: right bottom;
}

.mdl-dialog {
  width: 500px;
}

#recommend-user-area {
  display: none;
}

